@charset "UTF-8";

body{
    background-color: #dcffeb;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    letter-spacing: 1.2px;
    color: #666;
}

h1{
    font-size: 30px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    letter-spacing: 6px;
    color: #4063A4;
    text-align: center;
}

/***********************
success or error message
************************/
.success_message{
    border:solid 1px;
    border-color: blue;
    padding: 15px;
    margin: 0 90px;
    border-radius: 8px;
    list-style-type: none;
}

.error_message{
    border:solid 1px;
    border-color: red;
    padding: 15px;
    margin: 0 90px;
    border-radius: 8px;
    list-style-type: none;
}

/***********************
register cards
************************/

.register_cards{
    margin: 10px auto 0px auto;
    text-align: center;
}

textarea{
    height: 100px;
    width: 300px;
    border-radius: 5px;
    margin-right: 20px;
    resize: none;
}

.fill_in_the_contents{
    margin:10px 20px 30px 20px;
    padding-top: 13px;
}

.cards_area{
    text-align: center;
    display: flex;
    justify-content: center;

}

.input-card_front{
    width:400px;
    float:left;
}

.input-card_back{
    width:400px;
    float:left;
}

.input-btn_submit{
    margin: 30px 0px;
    border-radius: 5px;
    padding:20px 40px;
    background-color: #12cc12;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 20px;
    top: 20;
    transition: .2s all;
    border: 0px;
}

.input-btn_submit:hover{
    cursor: pointer;
    margin: 30px 0px;
    border-radius: 5px;
    top: 0;
    transition: .2s all;
    opacity: .8;
}

/***********************
go to training
************************/
.go_to_training{
    text-align: center;
}

.num_train{
    margin-bottom: 30px;
    height: 130px;
    position: relative;
}

.num_train_times{
    display: inline-block;
    width: 120px;
    position: absolute;
    top :0px;
    left: 51%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.num_train_text{
    float: left;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    border: 1px solid #aaaaaa;
}

.times{
    margin-left: 5px;
    margin-top: 20px;
    float: left;
}

.go_to_training_btn{
    margin: 30px 0px;
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #12cc12;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 20px;
    top: 20;
    transition: .2s all;
    border: 0px;
    width: 200px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.go_to_training_btn:hover{
    margin: 30px 0px;
    border-radius: 5px;
    top: 0;
    transition: .2s all;
    opacity: .8;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

/***********************
cards list
************************/

.cards_list{
    text-align: center;
    font-weight: bold;
    color: #666;
}

.card_view{
    margin: 30px 90px;
    padding : 2px 0px 0px 0px;
    height: 60px;

    display: flex;
    justify-content: center;
}

.card_front{
    margin: 0 7px 5px 7px;
    float :left;
    height: 60px;
    width: 180px;
    border-radius: 5px;
    border: 1px #ddd solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_back{
    margin: 0 7px 5px 7px;
    float :left;
    height: 60px;
    width: 180px;
    border-radius: 5px;
    border: 1px #ddd solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_i{
    color: #777;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}




/************************************
*************************************
**********  training.php  ***********
*************************************
*************************************/


/************************************
cards 
*************************************/
.question_num{
    text-align: center;
    margin-top: 30px;
}

.question_cards{
    height: 120px;
    display: flex;
    justify-content: center;
    margin: 10px auto 30px auto;
}

.question_card{
    background-color: white;
    height: 60px;
    width: 180px;
    border-radius: 5px;
    border: 1px #ddd solid;
    margin: 15px 15px 5px 15px;
    float: left;
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************************
buttons
*************************************/

.ans_res_button{
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
}

.ans_btn{
    margin: 30px 0px;
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #12cc12;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 20px;
    top: 20px;
    transition: .2s all;
    border: 0px;
    width: 200px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ans_btn:hover{
    cursor: pointer;
    margin: 30px 0px;
    border-radius: 5px;
    top: 0;
    transition: .2s all;
    opacity: .8;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.result{
    display: flex;
    justify-content: center;
}

.res_ok_btn{
    margin: 30px 10px;
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #12cc12;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 16px;
    top: 20px;
    transition: .2s all;
    border: 0px;
    width: 18%;
    position: absolute;
    top: 30px;
    left: 40%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.res_ok_btn:hover{
    cursor: pointer;
    margin: 30px 10px;
    border-radius: 5px;
    top: 0;
    transition: .2s all;
    opacity: .8;
    position: absolute;
    top: 30px;
    left: 40%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.res_ng_btn{
    margin: 30px 10px;
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #12cc12;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 16px;
    top: 20px;
    transition: .2s all;
    border: 0px;
    width: 18%;
    position: absolute;
    top: 30px;
    left: 60%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.res_ng_btn:hover{
    cursor: pointer;
    margin: 30px 10px;
    border-radius: 5px;
    top: 0;
    transition: .2s all;
    opacity: .8;
    position: absolute;
    top: 30px;
    left: 60%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.exit{
    display: flex;
    justify-content: center;
}

.exit_btn{
    margin: 30px 0px;
    border-radius: 5px;
    padding:20px 40px;
    background-color: #12aa12;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 20px;
    top: 20px;
    transition: .2s all;
    height: 60px;
    width: 120px;
    border: 0px;
}

.exit_btn:hover{
    cursor: pointer;
    margin: 30px 0px;
    border-radius: 5px;
    top: 0;
    transition: .2s all;
    opacity: .8;
}

/*********************
result list
*********************/

.show_results{
    width: 548px;
    border: 1px solid #888;
    margin: 0 auto;
}

.result_row{
    height: 62px;
}

.result_no{
    height: 60px;
    width: 50px;
    float: left;
    border: 1px solid #888;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_question{
    height: 60px;
    width: 220px;
    float: left;
    border: 1px solid #888;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_answer{
    height: 60px;
    width: 220px;
    float: left;
    border: 1px solid #888;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_okng{
    height: 60px;
    width: 50px;
    float: left;
    border: 1px solid #888;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ok_color{
    background-color: #ffe9e9;
}

.ng_color{
    background-color: #e9e9ff;
}

/*********************
others
*********************/

hr{
    margin: 0px 30px 50px 30px;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}