@charset "UTF-8";

body{
    background-color: #dcffeb;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    letter-spacing: 1.2px;
    color: #666;
}

h1{
    font-size: 30px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    letter-spacing: 6px;
    color: #4063A4;
    text-align: center;
}

/***********************
success or error message
************************/
.success_message{
    border:solid 1px;
    border-color: blue;
    padding: 15px;
    margin: 0 90px;
    border-radius: 8px;
    list-style-type: none;
}

.error_message{
    border:solid 1px;
    border-color: red;
    padding: 15px;
    margin: 0 90px;
    border-radius: 8px;
    list-style-type: none;
}

/***********************
register cards
************************/

.register_cards{
    /* background-color: white; */
    margin: 10px auto 0px auto;
    /* padding-bottom: 40px; */
    text-align: center;


    /* background-color: lightpink; */
}


textarea{
    height: 100px;
    width: 300px;
    border-radius: 5px;
    margin-right: 20px;
    resize: none;
}

.fill_in_the_contents{
    margin:10px 20px 30px 20px;
    padding-top: 13px;
    /* padding-left: 60px; */

    /* background-color: khaki; */
}


.cards_area{
    text-align: center;
    /* background-color: navajowhite; */

    display: flex;
    justify-content: center;

}

/* .input-card_front,
.input-card_back{
    margin-bottom: 20px;
} */

.input-card_front{
    /* padding-left: 20px; */
    width:400px;
    float:left;

    /* background-color: blue; */
}

.input-card_back{
    /* padding-left: 20px; */
    width:400px;
    float:left;

    /* background-color: brown; */
}

.input-btn_submit{
    margin: 30px 0px;
    border-radius: 5px;
    padding:20px 40px;
    background-color: #12cc12;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 20px;
    top: 20;
    transition: .2s all;

    border: 0px;
}

.input-btn_submit:hover{
    background-color: #40b4df;
    cursor: pointer;
    margin: 30px 0px;
    border-radius: 5px;
    box-shadow: 0 6px #4063A4;
    top: 0;
    transition: .2s all;
    opacity: .8;
}


/***********************
go to training
************************/
.go_to_training{
    text-align: center;
}

.num_train{
    /* float: left; */
    /* background-color: greenyellow; */
    margin-bottom: 30px;
    /* display: flex;
    justify-content: center; */

    height: 130px;
    position: relative;
}

.num_train_times{
    display: inline-block;
    width: 120px;
    /* background-color: indigo; */

    position: absolute;
    top :0px;
    left: 51    %;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.num_train_text{
    /* background-color: grey; */
    float: left;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    border: 1px solid #aaaaaa;
}

.times{
    /* background-color: hotpink; */
    margin-left: 5px;
    margin-top: 20px;
    float: left;
}

.go_to_training_btn{
    margin: 30px 0px;
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #12cc12;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 20px;
    top: 20;
    transition: .2s all;

    border: 0px;
    width: 200px;

    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.go_to_training_btn:hover{
    /* background-color: #40b4df;
    cursor: pointer;*/
    margin: 30px 0px;
    border-radius: 5px;
    /* box-shadow: 0 6px #4063A4; */
    top: 0;
    transition: .2s all;
    opacity: .8;

    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}



/***********************
cards list
************************/

.cards_list{
    text-align: center;
    font-weight: bold;
    color: #666;
    /* background-color: cornflowerblue; */
}

.card_view{
    /* background-color: #eef; */
    margin: 30px 90px;
    padding : 2px 0px 0px 0px;
    height: 60px;

    display: flex;
    justify-content: center;
}

.card_front{
    margin: 0 7px 5px 7px;
    float :left;
    height: 60px;
    width: 180px;
    border-radius: 5px;
    border: 1px #f2f2f2 solid;
    /* vertical-align: middle; */

    /* background-color: mediumblue; */
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card_back{
    margin: 0 7px 5px 7px;
    float :left;
    height: 60px;
    width: 180px;
    border-radius: 5px;
    border: 1px #f2f2f2 solid;
    /* vertical-align: middle; */

    /* background-color: lightseagreen; */
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}



.card_i{
    /* background-color: lime; */
    color: #777;

    margin-top: 10px;
    margin-right: 5px;
    float: left;
}

/************************************
*************************************
**********  training.php  ***********
*************************************
*************************************/


.question_num{
    color: red;
}



.question_card{
    background-color: springgreen;
    color: blue;
}




.exit {
    border-radius: 2px;
    box-shadow: 0 6px #4063A4;
    top: 0;
    transition: .2s all;
}
.exit:hover {
    border-radius: 2px;
    box-shadow: 0 6px #4063A4;
    top: 0;
    transition: .2s all;
    opacity: .8;
}







/*********************
others
*********************/


hr{
    margin: 0px 30px 50px 30px;
}


.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

